.hero-section {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  /* Скрываться и появляться будет только фон */
  .hero-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    clip-path: circle(0% at 50% 50%);
    transition: clip-path 1.8s ease-in-out;
  }
  
  /* Теперь анимация сработает */
  .loaded .hero-image {
    clip-path: circle(100% at 50% 50%);
  }
  
  .hero-content {
    position: relative;
    width: 70%;
    z-index: 10;
    text-align: center;
    color: rgb(18, 18, 18);
    /* background: rgba(0, 0, 0, 0.4); */
    padding: 20px;
    border-radius: 10px;
    /* backdrop-filter: blur(5px); */
  }
  
  /* Заголовок с анимацией */
  .hero-title {
    font-size: 3rem;
    opacity: 0;
    transform: translateY(30px);
    transition: opacity 1s ease-in-out, transform 1s ease-in-out;


    font-family: "Josefin Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 397;
    font-style: normal;
  }
  
  /* Заголовок появится только если loaded у `section` */
  .loaded .hero-title {
    opacity: 1;
    transform: translateY(0);
    
  }
  
  /* Текст также появится с задержкой */
  .hero-text {
    font-size: 1.5rem;
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 1.2s ease-in-out 0.3s, transform 1.2s ease-in-out 0.3s;
    margin-bottom: 20px;
    font-family: "Quicksand", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  }
  
  .loaded .hero-text {
    opacity: 1;
    transform: translateY(0);
  }
  
  
  .hero-button {
    margin-top: 20px;
    padding: 15px 30px;
    font-size: 1.2rem;
    background: linear-gradient(45deg, #00c6ff, #0072ff);
    border-radius: 8px;
    color: white;
    cursor: pointer;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    /* animation: pulse 2s infinite; */
  }
  
  .hero-button:hover {
    transform: scale(1.1);
    box-shadow: 0 10px 20px rgba(0, 255, 255, 0.4);
  }
  
  /* Пульсирующая кнопка */
  @keyframes pulse {
    0% { transform: scale(1); }
    50% { transform: scale(1.05); }
    100% { transform: scale(1); }
  }
  

  @media screen and (max-width: 640px) {
    .hero-title{
        font-size: 1.1rem;
    }

    .hero-text{
        font-size: 0.7rem;
    }

    .hero-button{
      padding: 8px 15px;
      font-size: 0.5;
    }
  }